/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juin 2017, 17:18:50
    Author     : hugues
*/

.hello {
    letter-spacing: -8px !important;
    margin-left: 0 !important;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__inner {
    position: relative;
    width: 100%;
    height: 900px;
    margin-top: -960px;
    background: transparent;
  }
}

.items-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__inner-img {
    position: relative;
    width: 100%;
    height: 800px;
    background: transparent;
  }
}

.title-competences {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
}



.full-img-me-bg {
    display: block;
    position: relative;
}

.full-img-row-me {
    width: 900px;
    margin: auto;
    opacity: 0.9;
}

.txt-infos-me {
    position: relative;
    margin-top: -50px;
    margin-left: -40px;
}

.txt-infos-me-bottom {
    position: relative;
    margin-left: -40px;
    margin-top: -10px;
}

.txt-infos-me-right {
    position: relative;
    margin-top: 55px;
    margin-right: -70px;
}


.txt-cursus {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 12px 12px 5px rgba(0, 0, 0, 0.5);
}

.txt-year {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.9);
}

.txt-cursus-content {
    max-width: 200px;
    font-weight: 300;
    margin: 0;
    text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.9);
    font-size: 16px;
}

.txt-cursus-content-right {
    max-width: 200px;
    font-weight: 300;
    margin: 0;
    text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.9);
    font-size: 16px;
    margin-right: -70px;
}



.infos-left {
    position: absolute;
    top: 250px;
    left: 260px;
    &::after {
        content:'';
        position: absolute;
        top: 52px;
        left: 70px;
        transform: rotate(16deg);
        width: 360px;
        height: 3px;
        background: -webkit-linear-gradient(left, #f94545, #ff8668);
        background: -o-linear-gradient(right, #f94545, #ff8668);
        background: -moz-linear-gradient(right, #f94545, #ff8668);
        background: linear-gradient(to right, #f94545, #ff8668);
        box-shadow: 12px 12px 8px #000;
        -webkit-box-shadow: 12px 12px 8px #000;
    }
}

.infos-left-bottom {
    position: absolute;
    left: 190px;
    top: 610px;
    &::after {
        content:'';
        position: absolute;
        top: 120px;
        left: 70px;
        transform: rotate(30deg);
        width: 300px;
        height: 3px;
        background: -webkit-linear-gradient(left, #f94545, #ff8668);
        background: -o-linear-gradient(right, #f94545, #ff8668);
        background: -moz-linear-gradient(right, #f94545, #ff8668);
        background: linear-gradient(to right, #f94545, #ff8668);
         box-shadow: 12px 14px 8px #000;
        -webkit-box-shadow: 12px 14px 8px #000;
    }
}

.infos-right {
    position: absolute;
   right: 260px;
    top: 370px;
    &::before {
        content:'';
        position: absolute;
        top: 220px;
        transform: rotate(-45deg);
        right: 50px;
        width: 290px;;
        height: 3px;
        background: -webkit-linear-gradient(left, #f94545, #ff8668);
        background: -o-linear-gradient(right, #f94545, #ff8668);
        background: -moz-linear-gradient(right, #f94545, #ff8668);
        background: linear-gradient(to right, #f94545, #ff8668);
         box-shadow: -1px 13px 8px #000;
        -webkit-box-shadow: -12px 14px 8px #000;
    }
}

.content-present-me {

}

.txt-present-me {
    text-align: justify;
    font-size: 32px;
    font-weight: 200;
    padding-top: 50px;
    padding-bottom: 30px;
}

.icon-prog {
    display: block;
    margin: auto;
    text-align: center;
   max-width: 500px;
    h3 {
        text-align: center;
    }
}


.icon-content {
    width: 80px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    p{
        text-align: center;
    }
}

.icon-size {
    width: 80px;
    height: 80px;
}



@media screen and(min-width: 320px) and (max-width: 413px){
.full-img-row-me {
    width: 300px;
    margin: auto;
    opacity: 0.9;
}
}
@media screen and(min-width: 414px) and (max-width: 767px){
.full-img-row-me {
    width: 350px;
    margin: auto;
    opacity: 0.9;
}
}

@media screen and(min-width: 768px) and (max-width: 1023px){
.full-img-row-me {
    width: 650px;
    margin: auto;
    opacity: 0.9;
}
}

@media screen and(min-width: 1024px) and (max-width: 1365px){
.full-img-row-me {
    width: 850px;
    margin: auto;
    opacity: 0.9;
}
}

@media screen and(min-width: 320px) and (max-width: 767px){
    
    .txt-present-me {
    text-align: left;
    font-size: 22px;
    font-weight: 200;
    padding-top: 50px;
    padding-bottom: 30px;
}

   .infos-left {
    position: absolute;
    top: 540px;
    left: 0px;
    &::after {
       display: none;
    }
}

.infos-left-bottom {
    position: absolute;
    left: 0px;
    top: 730px;
    &::after {
       display: none;
    }
}

.infos-right {
    position: absolute;
   right: 0px;
   left:0;
    top: 250px;
    &::before {
        display: none;
    }
} 

.txt-infos-me-right {
    position: relative;
    margin-top: 55px;
    margin-right: 0px;
        margin-left: 15px;
}

.txt-infos-me-bottom {
    position: relative;
     margin-left: 15px; 
    margin-top: 0;
}

.txt-cursus-content-right {
    max-width: 200px;
    font-weight: 300;
    margin: 0;
    text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.9);
    font-size: 16px;
    margin-right: 0;
}

.txt-infos-me {
    position: relative;
    margin-top: 0;
     margin-left: 15px;
}
.items__inner {
    position: relative;
    width: 100%;
    height: 900px;
     margin-top: 0; 
    background: transparent;
}
    
.items-img__inner-img {
    position: relative;
    width: 100%;
    height: 0;
    background: transparent;
}
}


@media screen and(min-width: 768px) and (max-width: 1023px){
   .infos-left {
    position: absolute;
    top: 790px;
    left: 150px;
    &::after {
       display: none;
    }
}

.infos-left-bottom {
    position: absolute;
    left: 350px;
    top: 980px;
    &::after {
       display: none;
    }
}

.infos-right {
    position: absolute;
   right: 0px;
   left:0;
    top: 500px;
    &::before {
        display: none;
    }
} 

.txt-infos-me-right {
    position: relative;
    margin-top: 55px;
    margin-right: 0px;
        margin-left: 30px;
}

.txt-infos-me-bottom {
    position: relative;
     margin-left: 30px; 
    margin-top: 0;
}

.txt-cursus-content-right {
    max-width: 200px;
    font-weight: 300;
    margin: 0;
    text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.9);
    font-size: 16px;
    margin-right: 0;
}

.txt-infos-me {
    position: relative;
    margin-top: 0;
     margin-left: 30px;
}
.items__inner {
    position: relative;
    width: 100%;
        height: 1200px;
     margin-top: 0; 
    background: transparent;
}
    
.items-img__inner-img {
    position: relative;
    width: 100%;
    height: 0;
    background: transparent;
}
}


@media screen and(min-width: 1024px) and (max-width: 1365px){
   .infos-left {
    position: absolute;
    top: 850px;
    left: 250px;
    &::after {
       display: none;
    }
}

.infos-left-bottom {
    position: absolute;
    left: 550px;
    top: 980px;
    &::after {
       display: none;
    }
}

.infos-right {
    position: absolute;
   right: 0px;
   left:0;
    top: 650px;
    &::before {
        display: none;
    }
} 

.txt-infos-me-right {
    position: relative;
    margin-top: 55px;
    margin-right: 0px;
        margin-left: 30px;
}

.txt-infos-me-bottom {
    position: relative;
     margin-left: 30px; 
    margin-top: 0;
}

.txt-cursus-content-right {
    max-width: 200px;
    font-weight: 300;
    margin: 0;
    text-shadow: 8px 8px 1px rgba(0, 0, 0, 0.9);
    font-size: 16px;
    margin-right: 0;
}

.txt-infos-me {
    position: relative;
    margin-top: 0;
     margin-left: 30px;
}
.items__inner {
    position: relative;
    width: 100%;
        height: 1200px;
     margin-top: 0; 
    background: transparent;
}
    
.items-img__inner-img {
    position: relative;
    width: 100%;
    height: 0;
    background: transparent;
}
}