
.carousel {
  margin-top: 0px;
}


.container-fluid .carousel {
  margin-left: -15px;
  margin-right: -15px;
/*  z-index: 30;*/
/*  position: relative;*/
}

 .carousel img{
  overflow-y: hidden;
}

.carousel-control {
    font-size: 50px;
    text-shadow: none;
    width: 5%;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 2;
    opacity: 1;
}





.carousel-control.left {
  background-image: none;
  background-image:  none;
  background-image:  none;
  background-repeat: no-repeat;
  filter: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image:  none;
  background-image:  none;
  background-image: none;
  background-repeat: no-repeat;
  filter:  none;
}

.sr-only-left {
    position: absolute;
    font-size: 18px;
    transform: rotate(-90deg);
    top: 50%;
    left: -70px;
    transition: 0.3s ease-in-out;
    &::before {
        content:'';
        position: absolute;
        width: 40px;
        left: 22%;
        top: 50px;
        height: 2px;
        background-color: #f94545;
        -webkit-animation: rubberBand 3000ms infinite;
        animation: rubberBand 3000ms infinite;
        transition: 0.3s ease-in-out;
        
    }
}

.carousel-control:hover .sr-only-left {
    left: 0;
    transition: 0.3s ease-in-out;
}

.carousel-control:hover .sr-only-left:before {
    top: -20px;
    transition: 0.3s ease-in-out;
    
}

.sr-only-right {
    position: absolute;
    font-size: 18px;
    transform: rotate(-90deg);
    top: 50%;
    right: -60px;
    transition: 0.3s ease-in-out;
    &::before {
        content:'';
        position: absolute;
        width: 40px;
        right: 2%;
        top: -32px;
        height: 2px;
        background-color: #f94545;
/*        transform: rotate(90deg);*/
         -webkit-animation: rubberBand 3000ms infinite;
        animation: rubberBand 3000ms infinite;
        transition: 0.3s ease-in-out;
    }
}

.carousel-control:hover .sr-only-right {
    right: 20px;
    transition: 0.3s ease-in-out;
}

.carousel-control:hover .sr-only-right:before {
    top: 47px;
    transition: 0.3s ease-in-out;
    
}



.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .fa-angle-left {
  left: 27%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .fa-angle-right {
  right: 27%;
  margin-right: -10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 50%;
}

@media screen and(min-width: 300px)and(max-width: 767px){
.carousel {
    margin-top: 50px;
}

.carousel-control {
    font-size: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.sr-only-left {
   display: none;    
    }


.sr-only-right {
    display: none;
}
}
