.fa-user{
    color: #5cb85c;
}

    .modal-header {
    padding: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
     background-color: #130c1c;
     color: #777;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.confirm{
    color: #777;
    opacity: 1;
    text-shadow: none;
    &:hover{
        color: #f7ab35;
        opacity: 1;
    }
    }
  .dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 250px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.caret {
    margin-left: 10px;
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}



.modif-compte{
    margin-left: 200px;
    margin-top: -30px;
    position: absolute;
    cursor: pointer;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
    background-color: #000;
}

.modal-content{
    margin-top: 300px;
     height: 530px;
}

.info-compte{
    padding-top: 50px;
    cursor: pointer;
}

.img-compte {

}

.fa.fa-circle-o-notch{
    font-size: 600px;
    margin-left: 100px;
    opacity: 0.2;
}

.fa-spin {
    -webkit-animation: fa-spin 4s infinite linear;
    animation: fa-spin 4s infinite linear;
}

.modal-footer {
    padding: 15px;
    margin-top: 60px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.input-group.champ{
    padding-top: 30px;
    h4{
        border-bottom: 1px dashed #b5b5b5;
        padding-bottom: 5px;
    }
}

.logo-compte{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
   background-color: #130c1c;
   padding: 10px;
   border-radius: 10px;
        
}





.modal-footer .fa.fa-times{
    font-size: 130px;
}

.modal-footer .fa.fa-check{
    font-size: 130px;
}

.btn.fa.fa-times{
    padding-top: 60px;
    padding-right: 100px;
    padding-left: 70px;
    padding-bottom: 60px;
}

.btn.fa.fa-check{
     padding-top: 60px;
    padding-right: 70px;
     border-right: 1px dashed #b1b1b1;
     padding-bottom: 60px;
}

.modal-body-confirm{
    padding-top: 30px;
    padding-left: 15px;
}



.modif-compte .fa-close{
    color: #c9302c;
    &:hover{
        opacity: 0.5;
    }
}

.modif-compte .fa-pencil{
    color: #130c1c;
    &:hover{
        opacity: 0.5;
    }
}