

    .modal-header {
    padding: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
     background-color: #130c1c;
     color: #777;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.confirm{
    color: #777;
    opacity: 1;
    text-shadow: none;
    &:hover{
        color: #f7ab35;
        opacity: 1;
    }
    }
  

.caret {
    margin-left: 10px;
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.input-group.champ {
    padding-top: 30px;
    float: left;
    padding-left: 20px;
}

.modif-compte{
/*    margin-right: 30px;*/
    margin-top: 80px;
    cursor: pointer;
    float: right;
    z-index: 5;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
    background-color: #000;
}

.modal-content{
    margin-top: 300px;
     height: 530px;
}

.info-compte{
    padding-top: 50px;
    cursor: pointer;
}

.img-compte {

}

.fa.fa-circle-o-notch{
    font-size: 600px;
    margin-left: 100px;
    opacity: 0.2;
}

.fa-spin {
    -webkit-animation: fa-spin 4s infinite linear;
    animation: fa-spin 4s infinite linear;
}

.modal-footer {
    padding: 15px;
    margin-top: 60px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.input-group.champ{
/*    padding-top: 30px;*/
    h4{
        border-bottom: 1px dashed #b5b5b5;
        padding-bottom: 5px;
    }
}

.logo-compte{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
   background-color: #130c1c;
   padding: 10px;
   border-radius: 10px;
        
}





.modal-footer .fa.fa-times{
    font-size: 130px;
}

.modal-footer .fa.fa-check{
    font-size: 130px;
}

.btn.fa.fa-times{
    padding-top: 60px;
    padding-right: 100px;
    padding-left: 70px;
    padding-bottom: 60px;
}

.btn.fa.fa-check{
     padding-top: 60px;
    padding-right: 70px;
     border-right: 1px dashed #b1b1b1;
     padding-bottom: 60px;
}

.modal-body-confirm{
    padding-top: 30px;
    padding-left: 15px;
}



.modif-compte .fa-close{
    color: #c9302c;
    &:hover{
        opacity: 0.5;
    }
}

.modif-compte .fa-pencil{
    color: #130c1c;
    &:hover{
        opacity: 0.5;
    }
}


.block-left-infos{
/*   background-color: yellow;*/
   padding-top: 150px;
   padding-bottom: 150px;
}

.block-right-infos{
   background-color: #130C1C;
   top: 10%;
   bottom: 0;
   position: absolute;
   right: 0;
   width: 45%;
}

.project-admin-compte{
    padding-top:46px;
    width: 100%;
/*    padding-bottom: 50px;*/
/*    margin-left: -15px;*/
}

.btn-profil{
    margin-top: 90px;
    /* padding-bottom: 60px;*/
/*    margin-left: 40px;*/
/*    margin-right: -25px;
    margin-top: -65px;*/
/*    float: right;*/
    text-align: center;
/*    width: 45%;*/
        
}

.img-profil{
    width: 100%;
    height: 400px;
    margin-top: 20%;
    margin-left: 25%;
}

.btn-profil-img{
/*    margin-top: 90px;*/
    /* padding-bottom: 60px;*/
/*    margin-left: 40px;*/
/*    margin-right: -25px;
    margin-top: -65px;*/
/*    float: right;*/
    text-align: center;
/*    width: 45%;*/
        
}

.name-admin{
    font-family: "Inflecto", 'Open Sans', sans-serif;
    font-size: 35px;
    padding-top: 60px;
    text-align: center;
/*    padding-right: 20px;*/
    color: #777;
}

.fa-user{
    color: #5cb85c;
    padding-right: 10px;
}
