@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');



@font-face {
    font-family: "Inflecto";
    src: url("../../web/fonts/Inflecto.otf");
}

body{
font-family: 'Raleway', 'Open Sans', sans-serif;
overflow-x: hidden;
background-color: #fff;

}

a{
    color: inherit;
}
a:focus, a:hover{
    text-decoration: none;
    color: inherit;
}

.animated-speed {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#container{
  width: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

.right{
    float: right;
}

.fixed {
    position: fixed;
}

.fixed-bread {
    position: fixed !important;
    width: 100%;
    top: 0;
}



.swatches-primary {
    background-color: #130C1C;
}


.swatches-secondary {
    background-color: #ff8668;
}

.swatches-secondary-dark {
    background-color: #f94545;
}

.swatches-degraded {
    background: -webkit-linear-gradient(left, #f94545, #ff8668); 
    background: -o-linear-gradient(right,  #f94545, #ff8668);  
    background: -moz-linear-gradient(right,  #f94545, #ff8668);  
    background: linear-gradient(to right,  #f94545, #ff8668);
}

.swatches-degraded-dark {
    background: -webkit-linear-gradient(top, #130C1C, #4B217F); 
    background: -o-linear-gradient(bottom,  #130C1C, #4B217F);  
    background: -moz-linear-gradient(bottom,  #130C1C, #4B217F);  
    background: linear-gradient(to bottom,  #130C1C, #4B217F);
    background-attachment: fixed;
}

.swatches-degraded-dark-bis {
    background: -webkit-radial-gradient(circle, #4B217F,  #130C1C); 
    background: -o-radial-gradient(circle, #4B217F,  #130C1C);  
    background: -moz-radial-gradient(circle, #4B217F,  #130C1C);  
    background: radial-gradient(to circle, #4B217F,  #130C1C);
    background-attachment: fixed;
}

.swatches-degraded-violet-bis {
    background: -webkit-radial-gradient(circle, #6A008A, #370046); 
    background: -o-radial-gradient(circle, #6A008A, #370046);  
    background: -moz-radial-gradient(circle, #6A008A, #370046);  
    background: radial-gradient(to circle, #6A008A, #370046);
    background-attachment: fixed;
}

.swatches-grey {
/*    background-color: #F2F1EF;*/
    background-color: #EBEAE8;
}

.swatches-white {
    background-color: #fff;
}



.no-margin {
    padding-right: 0px;
    padding-left: 0px;
}

.no-mg {
    margin-top:0;
    margin-bottom: 0;
}

.no-mg-border {
    margin-right: -5px;
}

.no-mg-top {
    margin-top:0;
}

.no-padd-left {
    padding-left: 0;
}

.padd-xs {
    padding-bottom: 5px;
    padding-top: 5px;
}

.padd-sm {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padd-md {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padd-xl {
    padding-bottom: 30px;
    padding-top: 30px;
}

.padd-big-xl {
    padding-bottom: 60px;
    padding-top: 60px;
}

.padd-left-md {
    padding-left: 30px;
}

.padd-top-md {
    padding-top: 30px;
}

.padd-top-lg {
    padding-top: 40px !important;
    transition: 0.2s padding ease-in-out;
}

.padd-top-xl {
    padding-top: 50px;
}

.padd-bottom-md {
    padding-bottom: 30px;
}

.padd-bottom-xl {
    padding-bottom: 50px;
}


.mg-bottom-sm {
    margin-bottom: 20px;
}

.mg-bottom-md {
    margin-bottom: 30px !important;
}

.mg-bottom-xl {
    margin-bottom: 50px !important;
}

.mg-bottom-print {
    margin-bottom: 190px !important;
}

@media screen and(min-width: 300px)and(max-width: 767px){
.mg-top-icon-me {
    margin-top: 10px;
}
}

@media screen and(min-width: 768px){
.mg-top-icon-me {
    margin-top: 30px;
}
}


.mg-top-md {
    margin-top: 30px !important;
}

.mg-top-xl {
    margin-top: 50px;
}

.mg-top-big-xl {
    margin-top: 100px;
}

.degrader{
    background: -webkit-linear-gradient(left,  #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545 ,#ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,   #f94545, #ff8668); /* Standard syntax */
}


.bordered {
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    &::after {
        content:'';
        position: absolute;
        width: 50px;
        height: 4px;
        left: 0;
        bottom: 0;
        background: -webkit-linear-gradient(left, #f94545, #ff8668); 
        background: -o-linear-gradient(right,  #f94545, #ff8668);  
        background: -moz-linear-gradient(right,  #f94545, #ff8668);  
        background: linear-gradient(to right,  #f94545, #ff8668);
    }
}

.bordered-dark {
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    &::after {
        content:'';
        position: absolute;
        width: 50px;
        height: 4px;
        left: 0;
        bottom: 0;
        background-color: #130C1C; 
    }
}

.bordered-white {
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    &::after {
        content:'';
        position: absolute;
        width: 50px;
        height: 4px;
        left: 0;
        bottom: 0;
        background-color: #fff; 
    }
}

@media screen and(min-width: 300px) and (max-width: 1023px){
    
.bordered-white::after {
   display: none;
}

.bordered-color {
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    &::before {
        content:'';
        position: absolute;
        width: 50px;
        height: 4px;
        left: 0;
        bottom: 0;
        background: -webkit-linear-gradient(left, #f94545, #ff8668);
        background: -o-linear-gradient(right, #f94545, #ff8668);
        background: -moz-linear-gradient(right, #f94545, #ff8668);
        background: linear-gradient(to right, #f94545, #ff8668);
}
}

}



.txt-color {
    color: #ff8668 !important;
}

.txt-color-dark {
    color: #f94545 !important;
}

.txt-color-white {
    color: #fff !important;
}

.txt-color-primary {
    color: #130C1C !important;
}

.txt-color-web {
    background: -webkit-linear-gradient(bottom, #96e0e1, #4222f1);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-color-webdesign {
     background: -webkit-linear-gradient(bottom, #ff5959, #3b2355);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-color-gal {
     background: -webkit-linear-gradient(bottom, #92F22A, #03C9A9);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-color-me {
     background: -webkit-linear-gradient(bottom, #F5D76E, #F64747);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.title-rubrique{
    text-align: center;
    p {
        font-size: 16px;
    }
}

.big-title {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -12px;
    margin-left: -15px;
}


.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.fa-user{
    color: #5cb85c;
}

#svg{
  background: url('../../images/logo-hl.svg');
  width: 200px;
  height: 200px;
	background-repeat: no-repeat;
  position: absolute;
	top: 45%;
	left: 45%;
}

#loader {
  width: 130px;
  height: 130px;
  border-style: solid;
  border-top-color: #f7ab35;
  border-right-color:#f7ab35;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s infinite, borderloader 4000ms infinite ;
  transform: rotate(-200deg);
	position: absolute;
	top: -9%;
	left: -9%;

}


#hola{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 104;
}


 #iconSvg {
position: absolute;
width: 50px;
height: 50px;
top: 35px;
left: 190px;
z-index: 100;
fill: #000;
}

 #iconSvgWhite {
position: absolute;
width: 50px;
height: 50px;
top: 35px;
left: 190px;
z-index: 100;
fill: #fff;
}

 /*-------------footer---------------*/

.footer{
background-color: #EBEAE8;
padding-top:30px;
padding-bottom: 35px;

}

.credit{
  font-size: 16px;
  text-align: center;
  p{
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #000;
  margin-left: 33%;
  margin-right: 33%;
}
}


@media screen and(min-width: 320px)and(max-width: 768px){
  .credit{
    font-size: 14px;
    text-align: center;
    p{
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
    margin-left: auto;
    margin-right: auto;

  }
  }
}
.social-content{
  display: flex;
  justify-content: center;
  margin-left: -30px;
}
.social{
  display: block;
  background-color: #130C1B;
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  padding-top: 10px;
  margin-left: 30px;
  margin-top: 20px;
  transition: 0.4s;
  float: left;
}
.social:hover{
    border: 1px solid #130C1B;
    background-color: transparent;
    transition: 0.4s;
    color: #130C1B;
}


/*------------fin-footer---------------*/





/*------------fil-ariane---------------*/
.breadcrumb {
  padding: 20px 15px;
  margin-bottom: 0px;
/*  margin-top: 50px;*/
  list-style: none;
  background-color: #130C1C;
  border-radius: 0px;
  position: relative;
  z-index: 11;
  transition: 0.2s padding ease-in-out;
}

.breadcrumb>li{
    color: #fff;
}

.breadcrumb>.active {
    color: #ff8668;
}

 .light > .active {
    color: #fff;
}

.light > li + li::before {
    padding: 0 5px;
    color: #fff;
    content: "/\00a0";
}

.message-error {
    padding-left: 170px;
    padding-bottom: 20px;
}



.txt-error {
    font-size: 170px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -20px;
    line-height: 145px;
    
}

.big-error {
    font-size: 450px;
    font-weight: 900;
    color: #fff;
    text-shadow: 8px 5px 15px rgba(0, 0, 0, 0.5);
}

.error-color {
color: #f94545;
transform: rotate(-90deg);
position: absolute;
text-transform: uppercase;
left: -100px;
top: 310px;
}

.txt-error-light {
    font-weight: 200;
}

.txt-error-v {
    text-transform: none !important;
}


@media screen and(min-width: 300px)and(max-width: 767px){

    
#iconSvg {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 15px;
    z-index: 100;
    fill: #000;
}

.pos-mobile {
    padding-top: 50px;
}

.big-title {
    font-size: 65px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -12px;
    margin-left: -15px;
}

.breadcrumb {
 padding: 2px 30px;
 font-size: 11px;
}

.mg-top-big-xl {
    margin-top: 0;
}

.txt-error {
       font-size: 70px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -5px;
    line-height: 65px;
}
.error-color {
    color: #f94545;
    transform: rotate(-90deg);
    position: absolute;
    text-transform: uppercase;
    left: -80px;
    top: 140px;
}

.message-error {
    padding-left: 40px;
    padding-bottom: 20px;
}


.big-error {
    font-size: 120px;
    font-weight: 900;
    color: #fff;
    text-shadow: 8px 5px 15px rgba(0, 0, 0, 0.5);
}
}

@media screen and(min-width: 768px)and(max-width: 1366px){
   .big-error {
    font-size: 350px;
    font-weight: 900;
    color: #fff;
    text-shadow: 8px 5px 15px rgba(0, 0, 0, 0.5);
} 
}
