
body{
font-family: 'Open Sans', sans-serif;
overflow-y: visible;



}



#container{
  width: 100%;
  margin: 0;
  padding: 0;
   

}

/*------formulaire------------*/

#form-contact{
    display: none;
    margin-left: auto;
    margin-right: auto;
       
}

.form-content{
    background-color:rgba(247, 171, 53,1);
}
.contact-form {
  position: relative;
  margin-top: 90px;
}

.form-control-mail {
  color: #000;
  height:90px;
  font-size: 35px;
  box-shadow: inset 0 1px 0  rgba(0, 0, 0, .195);
  border-radius: 0;
  border: 0;
  background-color: transparent;
}
.form-control-mail:focus{
box-shadow: inset 0 1px 0  rgba(0, 0, 0, .035);
}

.form-group-mail {
    margin-bottom: 10px;
}


textarea.form-control-mail {
    min-height: 160px;
    resize: none;
}

/*------btn-envoyer------------*/
.envoyer{
    margin-top: 0px;
  padding-bottom: 10px;
  
}

textarea, input.form-control-mail{
    outline: 0;
    width: 70%;
    
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}

.contact-me{
 font-size: 12px;
 margin-top: 21%;
 color:rgba(247, 171, 53,1);
}
 /*-------------footer---------------*/

.footer{
background-color: #F2F1EF;
padding-top:30px;
padding-bottom: 30px;
}

.credit{
  font-size: 16px;
  text-align: center;
  p{
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #000;
  margin-left: 33%;
  margin-right: 33%;
}
}
@media screen and(min-width: 320px)and(max-width: 768px){
  .credit{
    font-size: 14px;
    text-align: center;
    p{
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
    margin-left: auto;
    margin-right: auto;

  }
  }
}
.social-content{
  display: flex;
  justify-content: center;
  margin-left: -30px;
}
.social{
  display: block;
  background-color: #130C1B;
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  padding-top: 10px;
  margin-left: 30px;
  margin-top: 20px;
  transition: 0.4s;
  float: left;
}
.social:hover{
    border: 1px solid #130C1B;
    background-color: transparent;
    transition: 0.4s;
    color: #130C1B;
}

a:focus {
  display: none;
}

/*------------fin-footer---------------*/



/*------------formulaire-admin---------------*/

.bg-form{
    padding-top: 0;
    padding-bottom: 50px;
    background-color: #F2F1EF;
    width: 100%;
    height: auto;
}


/*------------fil-ariane---------------*/
.breadcrumb {
  padding: 20px 15px;
  margin-bottom: 0px;
  margin-top: 50px;
  list-style: none;
  background-color: #130C1B;
  border-radius: 0px;
}


input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    height: 30px;
    width: 100px;
    
}




/*--nav-vertical---*/
/*#nav-vertical{
    margin-top: 80px;
        width: 300px;
        height: 100%;
        position: absolute;
        
    }
@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar-vert
{
	max-width:220px;
        height: auto;
	margin: 0;
        background-color: #222;
        border: none;
        border-radius: 0;
        position: relative;
}	

.navbar-nav-vert li a{
    border-bottom: 1px solid #000;
}

.navbar-nav-vert,
.navbar-nav-vert > li,
.navbar-left,
.navbar-header-vert
{float:none !important;
}

.dropdown-menu {left:0;right:0;background-color: #333; border-radius: 0;}
.dropdown-menu li a {color:#777;}
.navbar-collapse .navbar-nav-vert.navbar-left:last-child {
    margin-right: 0;
}
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: #26A65B;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
}
.navbar-admin-vert .navbar-nav-vert > li > a{
     color: #999;
}
.navbar-admin-vert .navbar-nav-vert > li > a:hover,
.navbar-admin-vert .navbar-nav-vert > li > a:focus {
  color: #777;
  background-color: #333;
}*/

/*--fin-nav-vertical---*/


.nav-add{
    width: 250px;
    background-color: #130c1c;
    position: absolute;
    height: auto;
    min-height: 1100px;
/*    border-top: 2px solid #fff;*/
}

.txt-nav-add{
    font-size: 19px;
    text-align: right;
    padding-right: 20px;
    width: 100%;
    border-bottom: 1px solid #666;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #777;
    transition: 0.4s; 
    &:hover{
        color: #999;
        transition: 0.3s;
    }
    
}
.no-border{
    border: none;
}


.title-rubrique-nav{
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #222;
    background-color: #f7ab35;
    text-align: center;   
}

.icon-add{
float: left;
color: #f7ab35;
padding: 10px 10px;
margin-left: 10px;
margin-top: -5px;
}

.title-header {
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
    background-color: #fff;
}


.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #130c1c;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 156px;
}

.publier{

  background-color: #f7ab35;
  color: #130c1c;
}

.fa-camera-retro{
    margin-top: -8px;
}

.title-form{
    margin-left: -18px;

}

textarea.form-control {
    min-height: 180px;
    resize: none;
}

.right{
    float: right;
}

.fa-calendar{
    color: #f7ab35;
}

.fa-user{
    color: #5cb85c;
}

    .modal-header {
    padding: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
     background-color: #130c1c;
     color: #777;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.confirm{
    color: #777;
    opacity: 1;
    text-shadow: none;
    &:hover{
        color: #f7ab35;
        opacity: 1;
    }
    }
  .dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 250px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.caret {
    margin-left: 10px;
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}



.modif-compte{
    margin-left: 200px;
    margin-top: -30px;
    position: absolute;
    cursor: pointer;
}

/*.boutonCompte{
    display: none;
    margin-top: 10px;
}*/

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
    background-color: #000;
}

.modal-content{
    margin-top: 300px;
     height: 530px;
}

.info-compte{
    padding-top: 50px;
    cursor: pointer;
}

.img-compte {

}

.fa.fa-circle-o-notch{
    font-size: 600px;
    margin-left: 100px;
    opacity: 0.2;
}

.fa-spin {
    -webkit-animation: fa-spin 4s infinite linear;
    animation: fa-spin 4s infinite linear;
}

.modal-footer {
    padding: 15px;
    margin-top: 60px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.input-group.champ{
    padding-top: 30px;
    h4{
        border-bottom: 1px dashed #b5b5b5;
        padding-bottom: 5px;
    }
}

.logo-compte{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
   background-color: #130c1c;
   padding: 10px;
   border-radius: 10px;
        
}





.modal-footer .fa.fa-times{
    font-size: 130px;
}

.modal-footer .fa.fa-check{
    font-size: 130px;
}

.btn.fa.fa-times{
    padding-top: 60px;
    padding-right: 100px;
    padding-left: 70px;
    padding-bottom: 60px;
}

.btn.fa.fa-check{
     padding-top: 60px;
    padding-right: 70px;
     border-right: 1px dashed #b1b1b1;
     padding-bottom: 60px;
}

.modal-body-confirm{
    padding-top: 30px;
    padding-left: 15px;
}

/*.background-triangle{
    
}

Left pointing
.triangle-left {
    position: absolute;
    width: 100%;
    height: 0;
    padding-top: 30%;
    padding-bottom: 0%;
    overflow: hidden;
}
.triangle-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-530px;
    
    border-top: 800px solid transparent;
    border-bottom: 800px solid #4679BD;
    border-right: 800px solid #4679BD;
}*/

.modif-compte .fa-close{
    color: #c9302c;
    &:hover{
        opacity: 0.5;
    }
}

.modif-compte .fa-pencil{
    color: #130c1c;
    &:hover{
        opacity: 0.5;
    }
}

.sombre{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: none;
    z-index: 6000;
 
}

.color{

    background-color: #f7ab35;
    -webkit-animation: color 8s ease-in  0s infinite alternate running;
    -moz-animation: color 8s linear  0s infinite alternate running;
    animation: color 8s linear  0s infinite alternate running;


 
}

@-webkit-keyframes color {
    0% { background-color: #f7ab35;}
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@-moz-keyframes color {
     0% { background-color: #f7ab35; }
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@keyframes color {
  0% { background-color: #f7ab35; }
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}




/*.wech{
    display: none;
    padding-left: 20%;


}*/

.text-js{
  margin-top: 80px;
  opacity: 0;
  display: none;
  font-size: 100px;
  font-weight: 900;
  color: #130c1c;
  margin-left: 40px;
}


 .cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: black;
  z-index: 1;
  animation: flash 2s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.big-logo{
/*    margin-top: 12%;
    margin-left: 14%;*/
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 64%;
    
}


@media screen and(min-width: 300px)and(max-width: 767px){
   
}



