
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/










@font-face {
    font-family: "Inflecto";
    src: url("../../fonts/Inflecto.otf");
}

body{
font-family: 'Open Sans', sans-serif;
/*overflow-y: visible;*/
overflow-x: hidden;
background-color: #fff;
}

a{
    color: inherit;
}
a:focus, a:hover{
    text-decoration: none;
    color: inherit;
}

#container{
  width: 100%;
  margin: 0;
  padding: 0;
/*  opacity: 0;*/
  transition: margin-left 0.4s;

/*  animation-delay: 500ms;*/
}



.swatches-primary {
    background-color: #130C1C;
}

.swatches-secondary {
    background-color: #ff8668;
}

.swatches-secondary-dark {
    background-color: #f94545;
}

.swatches-degraded {
    background: -webkit-linear-gradient(left, #f94545, #ff8668); 
    background: -o-linear-gradient(right,  #f94545, #ff8668);  
    background: -moz-linear-gradient(right,  #f94545, #ff8668);  
    background: linear-gradient(to right,  #f94545, #ff8668);
}

.swatches-grey {
    background-color: #F2F1EF;
}


.no-margin {
    padding-right: 0px;
    padding-left: 0px;
}

.no-mg {
    margin-top:0;
    margin-bottom: 0;
}

.padd-xs {
    padding-bottom: 5px;
    padding-top: 5px;
}

.padd-sm {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padd-md {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padd-xl {
    padding-bottom: 30px;
    padding-top: 30px;
}

.mg-bottom-sm {
    margin-bottom: 20px;
}

.mg-bottom-md {
    margin-bottom: 30px;
}

.mg-bottom-xl {
    margin-bottom: 50px;
}


.degrader{
    background: -webkit-linear-gradient(left,  #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545 ,#ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,   #f94545, #ff8668); /* Standard syntax */
}

.txt-color {
    color: #ff8668;
}

.txt-color-dark {
    color: #f94545;
}


.title-rubrique{
    text-align: center;
}

#svg{
  background: url('../../images/logo-hl.svg');
  width: 200px;
  height: 200px;
	background-repeat: no-repeat;
  position: absolute;
	top: 45%;
	left: 45%;
}

#loader {
  width: 130px;
  height: 130px;
  border-style: solid;
  border-top-color: #f7ab35;
  border-right-color:#f7ab35;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s infinite, borderloader 4000ms infinite ;
  transform: rotate(-200deg);
	position: absolute;
	top: -9%;
	left: -9%;

}

.min-logo {
position: absolute;
width: 50px;
top: 35px;
left: 190px;
}

@keyframes rotate {

   25% { border-width: 3px; }
   50% {
     transform: rotate(115deg);

   }
   75% { border-width: 3px;}
}





@keyframes borderloader {
0%     {  border-top-color: #f7ab35; border-right-color: #f7ab35; }
16.6%  {  border-top-color: #d86043; border-right-color: #d86043; }
33.33% {  border-top-color: #f0951f; border-right-color: #f0951f; }
49.8%  {  border-top-color: #44b57d; border-right-color: #44b57d; }
66.4%  {  border-top-color: #3a9fd3; border-right-color: #3a9fd3; }
83%    {  border-top-color: #687480; border-right-color: #687480; }
100%   {  border-top-color: #f7ab35; border-right-color: #f7ab35; }
}



/* ====  Preloader styles ==== */
#hola{
    width: 100%;
    height: 100vh;
    background-color: #130C1C;
    position: fixed;
    z-index: 104;
}


@media screen and(max-width: 320px){
    #svg {
  left: 36%;
  top: 40%;

}
}

@media screen and(min-width: 375px)and(max-width: 414px){
    #svg {
  left: 40%;
  top: 45%;

}
}
 /*-------------footer---------------*/

 
 
 
.footer{
background-color: #F2F1EF;
padding-top:30px;
padding-bottom: 35px;
margin-top: 50px;

}

.credit{
  font-size: 16px;
  text-align: center;
  p{
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #000;
  margin-left: 33%;
  margin-right: 33%;
}
}


@media screen and(min-width: 320px)and(max-width: 768px){
  .credit{
    font-size: 14px;
    text-align: center;
    p{
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
    margin-left: auto;
    margin-right: auto;

  }
  }
}
.social-content{
  display: flex;
  justify-content: center;
  margin-left: -30px;
}
.social{
  display: block;
  background-color: #130C1B;
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  padding-top: 10px;
  margin-left: 30px;
  margin-top: 20px;
  transition: 0.4s;
  float: left;
}
.social:hover{
    border: 1px solid #130C1B;
    background-color: transparent;
    transition: 0.4s;
    color: #130C1B;
}

/*a:focus {
  display: none;
}*/

/*------------fin-footer---------------*/





/*------------fil-ariane---------------*/
.breadcrumb {
  padding: 20px 15px;
  margin-bottom: 0px;
/*  margin-top: 50px;*/
  list-style: none;
  background-color: #130C1B;
  border-radius: 0px;
}

.breadcrumb>li{
    color: #fff;
}

.breadcrumb>.active {
    color: #ff8668;
}

 .light > .active {
    color: #fff;
}

.light > li + li::before {
    padding: 0 5px;
    color: #fff;
    content: "/\00a0";
}







/*--nav-vertical---*/
/*#nav-vertical{
    margin-top: 80px;
        width: 300px;
        height: 100%;
        position: absolute;
        
    }
@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar-vert
{
	max-width:220px;
        height: auto;
	margin: 0;
        background-color: #222;
        border: none;
        border-radius: 0;
        position: relative;
}	

.navbar-nav-vert li a{
    border-bottom: 1px solid #000;
}

.navbar-nav-vert,
.navbar-nav-vert > li,
.navbar-left,
.navbar-header-vert
{float:none !important;
}

.dropdown-menu {left:0;right:0;background-color: #333; border-radius: 0;}
.dropdown-menu li a {color:#777;}
.navbar-collapse .navbar-nav-vert.navbar-left:last-child {
    margin-right: 0;
}
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: #26A65B;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
}
.navbar-admin-vert .navbar-nav-vert > li > a{
     color: #999;
}
.navbar-admin-vert .navbar-nav-vert > li > a:hover,
.navbar-admin-vert .navbar-nav-vert > li > a:focus {
  color: #777;
  background-color: #333;
}*/

/*--fin-nav-vertical---*/








/*.sombre{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: none;
    z-index: 6000;
 
}*/




/*@keyframes color {
  0% { background-color: #f7ab35; }
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}

@-webkit-keyframes color {
    0% { background-color: #f7ab35;}
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@-moz-keyframes color {
     0% { background-color: #f7ab35; }
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}*/





/*.wech{
    display: none;
    padding-left: 20%;


}*/

/*@media screen and(min-width: 1100px){
   #big{
     z-index: 100;
     /////////////////
////////////////
     width: 50%;
     margin-right: -15%;
/////////////////
////////////////

}

.big-logo{
    z-index: 100;
    background-image: url('../../images/big-logoX2.png');
    background-repeat: no-repeat;
    position: fixed;
    width: 400px;
    height: 400px;
    right: 0;
    
}
}*/

/*@media screen and(min-width: 1024px)and(max-width: 1099px){
   #big{
    position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
 
}
.big-logo{
    z-index: 100;
    background-image: url('../../images/big-logoX2.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 400px;
    right: 0; 
}
/////////////////
////////////////
.big-logo{
    margin-top: 12%;
    margin-left: 14%;
    right: -50%;
    text-align: center;
    position: absolute;
    z-index: 100;
    transition: all 0.5s cubic-bezier(.77,.06,.28,.85);
    opacity: 0;
    &.push-biglogo{
 		right: 0%;
                opacity: 1;
                padding-left: 15%;
                padding-right: 15%;
 	}  
}
/////////////////
////////////////
}*/

/*
@media screen and(min-width: 768px)and(max-width: 1023px){
   #big{
    position: relative;
    float: right;
    margin-right: 11.5%;
 
}
.big-logo{
    z-index: 100;
    background-image: url('../../images/biglogo-hl.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0; 
}

}*/

/////////////////
////////////////
/*@media screen and(min-width: 1024px)and(max-width: 1100px){
#big{
    display: none;
}
.big-logo{
    margin-top: 12%;
    margin-left: 14%;
    right: -50%;
    text-align: center;
    position: absolute;
    z-index: 100;
    transition: all 0.5s cubic-bezier(.77,.06,.28,.85);
    opacity: 0;
    &.push-biglogo{
 		right: 0%;
                opacity: 1;
                padding-left: 15%;
                padding-right: 15%;
 	}  
}
}*/
/////////////////
////////////////
