.project-admin-home{
    padding-top: 70px;
    width: 100%;
    padding-bottom: 50px;
}

.project-content-home{
   background-color: #EEEEEE;
   padding-top: 50px;
   min-height: 100%;
   width: 90%;
   float: right;
}

.number{
font-size: 45px;
font-weight: 600;
padding-top: 36px;
padding-bottom: 16px;
margin: 0;
text-align: center;
    
}

.content-title{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    border-right: 1px dashed #bbb;
    text-align: left;
    font-size: 32px;
    border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
     border-left: 2px solid #ddd;
     border-top: 2px solid #ddd;
     border-bottom: 2px solid #ddd;
}

.content-title h5{
    color: #888;
}

.content-number-project{
    background-color: #fff;
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;
     border-right: 2px solid #ddd;
     border-top: 2px solid #ddd;
     border-bottom: 2px solid #ddd;
}

.content-number{
width: 100%;
margin-left: 70px;
}

.jaune{
    color: #F7AB35;
}

.violet{
    color: #130C1C
}

.bleu{
   color: #1ba39c;
}

.vert{
    color: #2ECC71;
}

.project-img-home{
   width: 100%;
   height: 100%;
   
}

.fa.fa-folder{
    padding-left: 10px;
}

.min-img-thumb{
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.last-project{
    border-bottom: 1px dashed #999;
   margin-left: 0px;
   margin-right: 0px;
   padding-bottom: 10px;
   padding-top: 10px;
}

.last-project-no-border{
   margin-left: 0px;
   margin-right: 0px;
   padding-bottom: 10px;
   padding-top: 10px;
}



.img-thumb-content{
    width: 100px;
    height: 100px;
}


.title-last-project{
    margin-left: 15px;
    padding-bottom: 20px;
}

.txt-last-project{
    text-align: center;
}

.title-img-header{
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.img-header-content{
     background-color: #fff;
    width: 100%;
    height: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
     
}

.min-img-header{
    opacity: 0.4;
    height: 373px;
    margin: 15px;
}

.icon-header-publier{
    
margin-bottom: 10px;
padding-top: 8px;
font-size: 65px;
color: #696969;
display: block;
width: 110px;
height: 110px;
border-radius: 50%;
border: 1px solid #130C1C;
margin-left: auto;
margin-right: auto;
text-align: center;
position: absolute;
background-color: rgba(255, 255, 255, 0.5)
}

.txt-active{
    font-size: 11px;
    font-weight: 600;
    color: #5cb85c;
    margin-top: -20px;
}

.btn-edit-header{
    text-align: right;
    padding-right: 30px;
    padding-bottom: 10px;
}

.name-img-header{
    padding-left: 30px;
}

.txt-bold{
    font-weight: bold;
}