/*nav---------admin----------------------*/

.navbar-admin{
    background-color: rgba(19, 12, 28, 1);
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: -70px;
    
}




.nav-add{
    width: 250px;
    background-color: #130c1c;
/*    position: absolute;*/
    height: auto;
    min-height: 1100px;
    float: left;
/*    border-top: 2px solid #fff;*/
}

.txt-nav-add{
    font-size: 19px;
    text-align: right;
    padding-right: 20px;
    width: 100%;
    border-bottom: 1px solid #666;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #777;
    transition: 0.4s; 
    &:hover{
        color: #999;
        transition: 0.3s;
    }
    
}
.no-border{
    border: none;
}


.title-rubrique-nav{
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #222;
    background-color: #f7ab35;
    text-align: center;   
}

.icon-add{
float: left;
color: #f7ab35;
padding: 10px 10px;
margin-left: 10px;
margin-top: -5px;
}



/*@media screen and(min-width: 300px)and(max-width: 768px){
  .logo{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    opacity: 0.5;
  }

}*/