@import "_variable.scss";

@media screen and(min-width: 769px){
.main-icon{
  z-index: 5000;
  margin-top: 20px;
  margin-right: 0px;
  position: fixed;
  transition: transform 0.5s;
  width: 58px;
  height: 58px;
/*  background-color: rgba(255, 255, 255, 0.5);*/
/*  border-radius: 50%;*/
  cursor: pointer;
  right: 50px;
  


     .hamb{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 2px;
      background-color: $violet;
      transform: translateX(-50%) translateY(-50%);
      

        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 2px;
/*          margin-top: -5px;*/
          background-color: $violet;
          transform: translateY(-10px);
          transition: transform 0.3s;
        }
        
        &::before {
            width: 50px;
            left: -10px;
        }
        
        &::after{
            width: 30px;
            left: 10px;
          transform: translateY(10px);
/*          margin-top: 5px;*/
        }
    }
    
.hamb-color{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 2px;
      background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #f94545, #ff8668); /* Standard syntax */
      transform: translateX(-50%) translateY(-50%);
      

        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 2px;
/*          margin-top: -5px;*/
          background-color: red;background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            transform: translateY(-10px);
          transition: transform 0.3s;
        }
        
        &::before {
            width: 50px;
            left: -10px;
        }
        
        &::after{
            width: 30px;
            left: 10px;
          transform: translateY(10px);
/*          margin-top: 5px;*/
        }
    }

    
    

        &:hover{

          .hamb{
            transition: background 0.1s;
          }

             .hamb::before{
              transform: translateY(-12px);
            }

           .hamb::after{
              transform: translateY(12px);
            }
            
        }

        &.is-open{

/*            transform: rotate(180deg);*/
             .hamb{
              background: transparent;
            }
             .hamb::before{
               width: 40px;
               left: 0;
               transform: translateY(0) rotate(45deg);
               background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
               background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
               background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
               background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            .hamb::after{
                width: 40px;
                left: 0;
                transform: translateY(0) rotate(-45deg);
                background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            &:hover{
              transition: 0.7s;
            }
            .txt-hamb {
                display: none;
            }
        }
        &.is-open-color{
          border: 1px solid #fff;
          background-color: transparent;
          
        }
}
}

.txt-hamb {
    transform: rotate(-90deg);
    position: absolute;
    right: -20px;
    top: 20px;
    font-size: 12px;
}


@media screen and(min-width: 300px)and(max-width: 768px){
.main-icon{
  z-index: 2000;
  margin-top: 25px;
  margin-right: 0px;
  position: fixed;
  transition: transform 0.5s;
  width: 44px;
  height: 44px;
  background-color: $violet;
  border-radius: 50%;
  cursor: pointer;
  right: 20px;


    span{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 2px;
      background-color: #fff;
      transform: translateX(-50%) translateY(-50%);

        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 18px;
          height: 2px;
          background-color: #fff;
          transform: translateY(-6px);
          transition: transform 0.3s;
        }
        &::after{
          transform: translateY(6px);
        }
    }

        &:hover{

          span{
            transition: background 0.5s;
          }

            span::before{
              transform: translateY(-8px);
            }

            span::after{
              transform: translateY(8px);
            }
        }

        &.is-open{

            transform: rotate(180deg);
            span{
              background: transparent;
            }
            span::before{
              transform: translateY(0) rotate(45deg);
            }
            span::after{
              transform: translateY(0) rotate(-45deg);
            }
            &:hover{
              transition: 0.7s;
            }
        }
        &.is-open-color{
          border: 1px solid #fff;
          background-color: transparent;

        }
}
}

/*.container-fluid .navbar-brand{
    height: 100px;
}*/

.logo-home{
    width: 100%;
    height: 90px;
}

#logo{
    	position: relative;
/* 	height:100%;
 	width:100%;*/
        z-index: 103;
 	transition: all 0.5s cubic-bezier(.77,.06,.28,.85);
 	&.push{
 		margin-left:50%;
                width: 50%;
 	}
}


/*.push-main {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 50;
    top: 0;
    left:0;
    background-color: rgba(19, 12, 28, 1);
    overflow-x: hidden;
    padding-top: 60px;
    text-align:center;
    display: none;
    transition: 0.5s;

}*/
@media screen and(min-width: 320px)and(max-width: 767px){
.menu{
	position:fixed;
	top:0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 102;
        overflow: hidden;
	background: rgba(19, 12, 28, 1);
	transition: all 0.5s cubic-bezier(.77,.06,.28,.85);
	&.open{
		left:0;
	}
}

}
@media screen and(min-width: 768px){
/*.menu{
	position:fixed;
	top:0;
	left: -50%;
	width: 50%;
	height: 100%;
	z-index: 98;
        overflow: hidden;
	background: rgba(19, 12, 28, 1);
	transition: all 0.5s cubic-bezier(.77,.06,.28,.85);
	&.open{
		left:0;
                
	}
}*/

.menu{
	position:fixed;
	top:-100%;
	width: 100%;
	height: 100%;
	z-index: 98;
        overflow: hidden;
	background: rgba(19, 12, 28, 1);
	transition: all 0.9s cubic-bezier(.77,.06,.28,.85);
        
	&.open{
            top:0;
           
           .clip-text{
             transition: animation 3s;
             -webkit-animation: bounceInUp 2000ms;
             animation: bounceInUp 2000ms;
             -moz-animation: bounceInUp 2000ms;
    }


                
	}
}


/*.menu-tint{
	position: fixed;
	width:100%;
	height:100%;
	background: #52b3d9;
        background-color: #f7ab35;
    animation: bg 8s infinite alternate;
    -webkit-animation: bg 8s infinite alternate;
  -moz-animation: bg 8s infinite alternate;
  -o-animation: bg 8s infinite alternate;
	opacity:0;
	z-index: -1;
        top: 0;
         overflow: hidden;
	transition: all 0.5s cubic-bezier(.77,.06,.28,.85);
	&.open{
		opacity:1;
		z-index: 97;
                overflow: hidden;
	}
}*/

/*@keyframes bg {
  0% { background-color: #f7ab35; }
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}

@-webkit-keyframes bg {
    0% { background-color: #f7ab35;}
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}

@-moz-keyframes bg {
     0% { background-color: #f7ab35; }
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}

@-o-keyframes bg {
     0% { background-color: #f7ab35; }
    32% { background-color: #e74c3c; }
    55% { background-color: #130c1c; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}*/

.menu-type{
    text-align: center;
}



}
  


/*.is-open-test{
transition: 0.5s;
height: 105%;
width: 50%;
overflow: hidden;
}*/


.clip-img {

}







#myVideo2{
  		position: absolute;
  		right: 0;
  		bottom: 0;
                left: 0%;
  		top:0;
  		width: 100%;
  		height: 100%;
  		background-size: 100% 100%;
   		background-color: black; /* in case the video doesn't fit the whole page*/
    	  // background-image: url('../../images/flowers.mp4');
    		-moz-background-position: center center;
    		-moz-background-size: contain;
     		-moz-object-fit: cover; /*cover video background */
                -webkit-background-position: center center;
    		-webkit-background-size: contain;
     		-webkit-object-fit: cover; /*cover video background */
        background-position: center center;
    		background-size: contain;
     		object-fit: cover; /*cover video background */
     		z-index:3;
        opacity: 0.3;
        // border-right: 1px solid #fff;

  	}

        
  .line{
      content:'';
      position: absolute;
      width: 1px;
      top:0;
      bottom: 0;
      height: 90%;
      left: 50%;
      right: 0;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
      z-index: 4;
      transition: ease-in-out 0.4s;
    }

    .clip-img img{
          position: absolute;
            z-index: 2;
        width:100%;
      transition: 0.3s ease-out;

    }

.wrapper{
  width: 512px;
  height: 512px;
  margin: 5em auto;
  position: relative;
  top: 20%;
}
    
    .clip-text{
  font-size: 4em;
  font-family: "Inflecto", 'Open Sans', sans-serif;
/*  text-align: center;*/
/*  position: absolute;*/
  transition: 0.5s ease all;
  // transform: translateY(-50%);
  display: block;
   z-index: 20;
   left: 18%;
}


   .navbar-brand {
    font-family: "Inflecto", 'Open Sans', sans-serif;
    float: left;
    height: 50px;
    font-size: 25px;
    line-height: 65px;
    color: #000;
    &:hover{
      color: #818181;
    }
} 
.navbar-brand::before{
    content: '';
    position: absolute;
    top: 46px;
    height: 3px;
    background-color: #fff;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff86683); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
    width: 0px;
    z-index: 1;
    left: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-brand:hover::before{
    content: '';
    position: absolute;
    top: 46px;
    height: 3px;
    background-color: #fff;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
    width: 30px;
/*    padding-right: 100px;*/
    z-index: 1;
    left: 0%;
}

@media screen and(min-width: 300px)and(max-width: 767px){
    .push-main {
    width: 100%;
    }

}


.navbar {
    margin-bottom: 8px;

}


.navbar-default {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
/*  margin-top: 20%;*/

}
@media screen and(min-width: 568px)and(max-width: 736px){
.navbar-default {
  overflow: scroll;
  margin-top: 0;
  height: 100%;
}
}
.navbar-default.admin {
/*  margin-top: 10%;*/
margin-bottom: 0;
}


.navbar-default .navbar-nav > li > a {
  color: #818181;
  transition: 0.3s;
  font-size: 28px;
  text-align: center;
}

.navbar-default.admin .navbar-nav > li > a {
  color: #818181;
  transition: 0.3s;
  font-size: 14px;
}



/*.btn-print{
     transition: 0.4s;
    &:hover{
        background-color: rgba(46, 204, 113, 0.3);
         transition: 0.4s;
    }
}*/

/*.btn-work{
     transition: 0.4s;
    &:hover{
        background-color: rgba(27, 163, 156, 0.3);
         transition: 0.4s;
    }
}*/


 .clip-text .btn-rubrique a::before {
    content: '';
    position: absolute;
    top: 45px;
    height: 6px;
    background-color: #fff;
    background: -webkit-linear-gradient(left,  #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,   #f94545, #ff86688); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
    width: 0px;
    z-index: 1;
    left: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }
 

/*.btn-portfolio{
     transition: 0.4s;
    &:hover{
        background-color: rgba(231, 76, 60, 0.3);
         transition: 0.4s;
    }
}

.btn-moi{
     transition: 0.4s;
    &:hover{
        background-color: rgba(27, 163, 156, 0.3);
         transition: 0.4s;
    }
}

.btn-contactmoi{
     transition: 0.4s;
    &:hover{
        background-color: rgba(247, 171, 53, 0.3);
         transition: 0.4s;
    }
}*/

.navbar-default.admin .navbar-nav .connect {
    color: #fff;
    &:hover{
        color: $violet;
    }
}


.navbar-default .navbar-nav li > a:hover{
  color: #fff;
  transition: 0.3s;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

  .clip-text .btn-rubrique a:hover::before {
    content: '';
    position: absolute;
    top: 45px;
    height: 6px;
    background-color: #fff;
    background: -webkit-linear-gradient(left,  #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545 ,#ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,   #f94545, #ff8668); /* Standard syntax */
    width: 100%;
/*    padding-right: 100px;*/
/*    margin-left: 10px;*/
    z-index: 1;
    left: 0%;
/*    transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
    transform: scaleX(0);
    transform-origin: 0 0;*/
 }


.navbar-default.admin .navbar-nav > li > a:hover{
  color: $violet;
  background-color: #818181;
  transition: 0.3s;
}

/*.navbar-default .navbar-nav > li > a:focus {
    color: #818181;
}*/

.nav>li>a {
    position: relative;
    display: block;
/*    padding: 5px 15px;*/
/*    padding-top: 40px;
    padding-bottom: 40px;*/
    transition: 0.3s;
    &:hover, &:focus{
/*    padding: 15px 15px ;*/
    transition: 0.3s; 
    }
    
}

.nav>.btn-rubrique>a{
    color: #fff;
}

.nav>.btn-rubrique>a:hover{
    color: #818181;
    
}

@media screen and(min-width: 320px)and(max-width:414px){
.rubrique{
    padding-top: 10px;
    padding-bottom: 10px; 
}
}

@media screen and(min-width: 568px)and(max-width:736px){
.rubrique{
    padding-top: 0;
    padding-bottom: 0; 
}
}

@media screen and(min-width: 767px){
.rubrique{
    padding-top: 10px;
    padding-bottom: 10px; 
}
}

@media screen and(min-width: 1024px){
.primary{
    top: 35%;
}
}
@media screen and(min-width: 320px)and(max-width: 767px){
    .primary{
    top: 20%;
}
.navbar-default .navbar-nav > li > a {
  color: #818181;
  transition: 0.3s;
  font-size: 20px;
  text-align: center;
}

.navbar-brand {
    padding: 15px 5px;
}

}

@media screen and(min-width: 768px){
   .navbar-brand {
    padding: 15px 45px;

} 
}

@media screen and(min-width: 768px)and(max-width: 1023px){
    .primary{
    top: 25%;
}

}

.white{
    color:#fff;
    transition: 0.7s;
    position: fixed;
}


