@import "_variable.scss";

.logo-home{
    width: 100%;
    height: 90px;
}

#logo{
    	position: relative;
        z-index: 103;
 	transition: all 0.5s cubic-bezier(.77,.06,.28,.85);
 	&.push{
 		margin-left:50%;
                width: 50%;
 	}
}

.menu{
	position:fixed;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 98;
        overflow: hidden;
        background: -webkit-linear-gradient(30deg, #4B217F, #130C1C); 
        background: -o-linear-gradient(30deg,  #4B217F, #130C1C);  
        background: -moz-linear-gradient(30deg,  #4B217F, #130C1C);  
        background: linear-gradient(30deg,  #4B217F, #130C1C);
	transition: all 0.9s cubic-bezier(.77,.06,.28,.85);
        opacity: 0;
        visibility:hidden;
        
	&.open{
            opacity: 1;
            visibility: visible;
	}
}


.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .32s ease-in-out;
}

.bg-color.hovered {
    opacity: 1;
}

.bg-color-web {
        background-image:linear-gradient(30deg,#96e0e1,#4222f1);
}

.bg-color-webdesign {
                background-image: linear-gradient(30deg,#ff5959, #3b2355);
}

.bg-color-galerie {
        	background-image:linear-gradient(30deg,#92F22A,#03C9A9);
}

.bg-color-me {
        	background-image:linear-gradient(30deg,#F5D76E,#F64747);
}

.bg-color-contact {
                background:#fff;
}


.bg-img-color {
    width: 100%;
    opacity: 0.2;
}

.bg-color-hover-txt {
    font-size: 150px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 120px;
    overflow:hidden;
    opacity: 0.2;   
}

.menu-type{
    text-align: center;
}

.line{
      content:'';
      position: absolute;
      width: 1px;
      top:0;
      bottom: 0;
      height: 90%;
      left: 50%;
      right: 0;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
      z-index: 4;
      transition: ease-in-out 0.4s;
    }

    .clip-img img{
          position: absolute;
            z-index: 2;
        width:100%;
      transition: 0.3s ease-out;
    }

.wrapper{
  width: 512px;
  height: 512px;
  margin: 5em auto;
  position: relative;
  top: 20%;
}
    
    .clip-text{
  font-size: 4em;
  transition: 0.5s ease all;
   z-index: 20;
   font-weight: 800;
}

 .navbar-brand {
    font-family: "Inflecto", 'Open Sans', sans-serif;
    float: left;
    height: 50px;
    font-size: 25px;
    line-height: 65px;
    padding: 15px 45px;
    color: #000;
    &:hover{
      color: #000;
    }
} 
.navbar-brand::before{
    content: '';
    position: absolute;
    top: 46px;
    height: 3px;
    background-color: #fff;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff86683); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
    width: 0px;
    z-index: 1;
    left: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-brand:hover::before{
    content: '';
    position: absolute;
    top: 46px;
    height: 3px;
    background-color: #fff;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
    width: 30px;
    z-index: 1;
    left: 0%;
}

.navbar {
    margin-bottom: 8px;

}


.navbar-default {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
}

.navbar-default.admin {
margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #818181;
  transition: 0.3s;
  font-size: 28px;
  text-align: center;
}

.navbar-default.admin .navbar-nav > li > a {
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
}




.navbar-default.admin .navbar-nav .connect {
    color: #fff;
    &:hover{
        color: $violet;
    }
}


.navbar-default .navbar-nav li > a:hover{
  color: #fff;
  transition: 0.3s;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}
@media screen and(min-width: 768px){
    
     .clip-text .btn-rubrique a::before {
    content: '';
    position: absolute;
    top: 50px;
    height: 6px;
    background-color: #fff;
    background: -webkit-linear-gradient(left,  #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,   #f94545, #ff86688); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
    width: 0px;
    z-index: 1;
    left: 0%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }
 
    
    
  .clip-text .btn-rubrique a:hover::before {
    content: '';
    position: absolute;
    top: 50px;
    height: 6px;
    background-color: #fff;
    background: -webkit-linear-gradient(left,  #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #f94545 ,#ff8668); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,   #f94545, #ff8668); /* Standard syntax */
    width: 100%;
    z-index: 1;
    left: 0%;
 }
}
 
 

.navbar-default.admin .navbar-nav > li > a:hover{
  color: $violet;
  background-color: #818181;
  transition: 0.3s;
}


.nav>li>a {
    position: relative;
    display: block;
    transition: 0.3s;
    &:hover, &:focus{
    transition: 0.3s; 
    }
    
}

.nav>.btn-rubrique>a{
    color: #fff;
    transition: 0.2s ease-in-out;
}

.white{
    color:#fff;
    position: fixed;
}

.black {
    color: #000;
    position: fixed;
}

.midnightHeader.default .hamb{
     background-color: #130C1C;
        &::before {
       background-color: #130C1C;
        }
        &::after {
            background-color: #130C1C;
        }
     
}
.midnightHeader.color-hamb .hamb {
    background-color: red;
        &::before {
       background-color: red;
        }
        &::after {
            background-color: red;
        }
}

.midnightHeader.default .txt-hamb{
     color :#130C1C;
}

.midnightHeader.color-hamb .txt-hamb {
        color :#fff;
}


.txt-hamb {
    transform: rotate(-90deg);
    position: absolute;
    right: -12px;
    top: 20px;
    font-size: 12px;
    color: #130C1C;
}


@media screen and(min-width: 768px){
.main-icon{
  z-index: 5000;
  margin-top: 20px;
  margin-right: 0px;
  position: fixed;
  transition: transform 0.5s;
  width: 65px;
  height: 58px !important;
  cursor: pointer;
  right: 50px !important;
  left: inherit !important;
  
     .hamb{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 2px;
      background-color: $violet;
      transform: translateX(-50%) translateY(-50%);
      

        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 2px;
          background-color: $violet;
          transform: translateY(-10px);
          transition: transform 0.3s;
        }
        
        &::before {
            width: 50px;
            left: -10px;
        }
        
        &::after{
            width: 30px;
            left: 10px;
          transform: translateY(10px);
        }
    }

        &:hover{

          .hamb{
            transition: background 0.1s;
          }

             .hamb::before{
              transform: translateY(-12px);
            }

           .hamb::after{
              transform: translateY(12px);
            }
            
        }

        &.is-open{

             .hamb{
              background: transparent !important;
            }
             .hamb::before{
               width: 40px;
               left: 0;
               transform: translateY(0) rotate(45deg);
               background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
               background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
               background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
               background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            .hamb::after{
                width: 40px;
                left: 0;
                transform: translateY(0) rotate(-45deg);
                background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            &:hover{
              transition: 0.7s;
            }
            
            .txt-hamb {
                display: none;
            }
        }
        
        &.is-open-color{
          border: 1px solid #fff;
          background-color: transparent;
          
        }
        &.border-dark {
          border: 1px solid #000;
          background-color: transparent;  
        }
} /*----end-main-icon-min-768px--*/
}

@media screen and(min-width: 300px)and(max-width: 767px){
.main-icon{
  width: 45px;
  height: 45px !important;
  z-index: 5000;
  margin-top: 5px;
  margin-right: 0px;
  position: fixed;
  transition: transform 0.5s;
  cursor: pointer;
  right: 10px !important;
  left: inherit !important;
  
   .hamb{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: $violet;
      transform: translateX(-50%) translateY(-50%);
      
        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: -10px;
          width: 40px;
          height: 2px;
          background-color: $violet;
          transform: translateY(-8px);
          transition: transform 0.3s;
        }
        
        &::after{
            width: 20px;
            left: 10px;
          transform: translateY(8px);
        }
    }

         &:hover{

          .hamb{
            transition: background 0.1s;
          }

             .hamb::before{
              transform: translateY(-8px);
            }

           .hamb::after{
              transform: translateY(8px);
            }    
        }

         &.is-open{

             .hamb{
              background: transparent !important;
            }
             .hamb::before{
               width: 40px;
               left: 0;
               transform: translateY(0) rotate(45deg);
               background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
               background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
               background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
               background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            .hamb::after{
                width: 40px;
                left: 0;
                transform: translateY(0) rotate(-45deg);
                background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            &:hover{
              transition: 0.7s;
            }
        }
        
        &.is-open-color{
          border: none;
          background-color: transparent;
          
        }
      
} /*----end-main-icon-max-767px--*/

.txt-hamb {
    display: none;
}

#logo {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}

.logo-home {
    width: 100%;
    height: 50px;
}

.menu{
	top:50px;
}

.line {
    display: none;
}


.wrapper {
    width: 100%;
    top: 0;
    margin: 2em auto;
}

.clip-text {
    font-size: 1.5em;
    transition: 0.5s ease all;
    z-index: 20;
    font-weight: 800;
}

.navbar-default {
    display: inherit;
}

.navbar-brand {
    font-family: "Inflecto", 'Open Sans', sans-serif;
    float: left;
    height: 50px;
    font-size: 25px;
    line-height: 65px;
    color: #000;
    display: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

} /*----end-min-300px-max-767px--*/

@media screen and(min-width: 300px)and(max-width: 1299px){
    .bg-img-color {
        opacity: 0.2;
        width: inherit;
    }
}