
.panel-proto {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-proto-right {
    float: right;
    width: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content-panel-proto{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60vh;
    background: #F2F1EF;


}

.content-panel-proto-right{
    float: right;
    width: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 60vh;
    background: #130c1c;   
}

.content-panel-proto-right, .title-illu ~.txt-blabla .txt-illu{
    color: #fff;
}

.p_inside-proto {
    padding: 20px 20px 20px 20px;
}



.panel-img-proto {
    max-height: 60vh;
    display: block;
    height: auto;
    z-index: 2;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;

}

.panel-proto-right .panel-img-proto{
    float: right;
}


.panel-proto:hover .panel-img-proto{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.panel-proto-right:hover .panel-img-proto{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.line-illu{
    width: 35%;
    height: 2px;
    background-color: #f94545;
    position: absolute;
    top: 12%;
    right: 0;
    bottom: 0;
    z-index: 39;
}

.content-panel-proto .line-illu{
    left: 0;
}

.all-galerie{
    padding-top: 50px;
    padding-bottom: 50px;

}

.btn-lien-all{
    text-align: center;
}

.btn-all-print{
    border-radius: 0;
    border: 2px solid  #f94545;
    color: #f94545;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.4s ease-in-out;
    &:hover{
        color: #130C1C;
        border: 2px solid  #130C1C;
        transition: all 0.4s ease-in-out;

    }
}


.title-illu{
    letter-spacing : 5px;
    font-family: "Inflecto", 'Open Sans', sans-serif; 
    font-size: 55px;
    font-weight: 800;
}

.txt-blabla{
    font-family: 'Open Sans', sans-serif; 
    text-align: left;
    width: 360px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
}

.txt-illu{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 25px;
    padding-top: 70px;
}


.link-illu{
    bottom: 30%;
    position: absolute;
    left: 38%;
}

.btn-illu{
    border-radius: 0;
    border: 2px solid  #f94545;
    color: #f94545;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    transition: all 0.4s ease-in-out;
    font-size: 25px;
    &:hover{
        background: -webkit-linear-gradient(left, #f94545, #ff8668); 
        background: -o-linear-gradient(right,  #f94545, #ff8668);  
        background: -moz-linear-gradient(right,  #f94545, #ff8668);  
        background: linear-gradient(to right,  #f94545, #ff8668);
        color: #fff;
        transition: all 0.4s ease-in-out;

    }
}

.title-fat{
    font-weight: 700;
    font-size: 20px;

}


/*---------present-project--print---*/

.txt-present-print {
    margin-bottom: 50px;
    position: relative;
    color: #fff;
}


.txt-print {
    position: absolute;
    bottom: 10px;
    left: 10%;
}

.envoirplus {
    position: absolute;
    padding-top: 25px;
    padding-left: 10px;
}

.btn-print-detail {
    position: absolute;
    right: 0;
    bottom: 20px;
    color: #fff;
    .fa-plus-circle {
        font-size: 3em;
        opacity: 0.7;
    }
}

.btn-print-detail a {
    transition: 0.2s ease-in-out;
}

.btn-print-detail a:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
}


.thumb-title {
    font-weight: 800;
    margin-bottom: 5px;
    letter-spacing : 2px;
    text-transform: uppercase;
}

.thumb-desc {
    font-size: 16px;
    font-weight: initial;
}

.thumb-title:after{
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    left: -150px;
    top: 35px;
    bottom: 0;
    background-color: #f94545;   
}

.new{
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    left: -95px;
    top: 10px;
}

.new-white {
    color: #fff;
}

.new-dark {
    color: #130C1C;
}

.txt-print-dark{
    color: #130C1C !important;
}

.txt-print-white{
    color: #fff !important;
}



.icon-cmyk {
  width : 20%;
  transition: 0.3s ease-in-out;
  &:hover {
     opacity: 0.7;
     transition: 0.2s ease-in-out;
  }
}

.wrap-info {
    margin:auto;
    height: 100%;
    width: 50%;
}


.info-content-print {
   position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    left: 0;
    padding-left: 25px;
    padding-top: 40px;
    
}
.info-content-print-right {
   position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    right: 25px;
    padding-top: 40px;
    
}

.info-content-print-right .thumb-desc {
    padding-left: 60px;
}

.wrap-print-name {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 20px;
}



.wrap-meta-txt-print {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    max-width: 350px;
    max-height: 90px;
    text-transform: uppercase;
}

.btn-link-more-print {
    font-size: 16px;
    &::before {
        content:'';
        position: absolute;
        top: 205px;
        width: 35px;
        height: 2px;
        background-color: #fff;
        transition: all 0.2s ease-in-out;
    }
}

.btn-link-more-print:hover{
    color: #fff;
    &::before{
    width: 105px;
    transition: all 0.2s ease-in-out;
    }
}

.link-view-print{
    font-weight: 600;
    font-size: 18px;
    
}




.img-present-print-left {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
&::before {
          content:'';
          position: absolute;
          top: 0;
          bottom:0;
          left: 0;
          width: 50%;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); 
    background: -o-linear-gradient(right,  #f94545, #ff8668);  
    background: -moz-linear-gradient(right,  #f94545, #ff8668);  
    background: linear-gradient(to right,  #f94545, #ff8668);
  opacity: 0.8;
  z-index: 10;
}
}







.img-present-print-right {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin:auto;
&::before {
          content:'';
          position: absolute;
          top: 0;
          bottom:0;
          right: 0;
          width: 50%;
    background: -webkit-linear-gradient(left, #f94545, #ff8668); 
    background: -o-linear-gradient(right,  #f94545, #ff8668);  
    background: -moz-linear-gradient(right,  #f94545, #ff8668);  
    background: linear-gradient(to right,  #f94545, #ff8668);
  opacity: 0.8;
  z-index: 10;
}
}

.img-shadow-print {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}
@media screen and(min-width: 300px)and(max-width: 1023px){
 .color-dark-mobile {
        color: #130C1C !important;
    }
}

