.project-admin{
    padding-top: 90px;
    width: 80%;
}


.project-content{
   background-color: #EEEEEE;
   padding-top: 50px;
   min-height: 100%;
   width: 90%;
   float: right;
}





.btn-projet{
    padding-top: 30px;
 padding-bottom: 60px;
/*    margin-left: 40px;*/
/*    margin-right: -25px;
    margin-top: -65px;*/
/*    float: right;*/
    text-align: right;
/*    width: 45%;*/
        
}

.btn-left{
    text-align: left;
    padding-top: 0; /*------pour-section-galerie------*/
}

.btn-left-carousel{
    text-align: left;
    padding-top: 30px;
}

.sep-status{
    border-right: 2px solid #ddd;
    text-align: center;
}


.add-work{
    padding:20px 0 20px;
    text-align: center;
    margin: auto;
}

.img{
    padding-bottom: 60px;
}

.add-caroussel{
    background-color: #F2F1EF;
    padding:20px 0 20px;
    text-align: center;
    margin: auto;
}

.img-caroussel{
    padding-top: 30px;
}

.project-img{
    margin-left: 50px;
    width: 100%;
    float: left;
}

.project-description{
    background-color: #fff;
    padding-bottom: 55px;
/*    border-bottom: 1px dashed #CCCCCC;*/
/*    height: 190px;*/
    margin-bottom: 7px;
}

.project-description-print{
    background-color: #fff;
/*    border-bottom: 1px dashed #CCCCCC;*/
/*    height: 190px;*/
    margin-bottom: 7px;
}


.action-project{
    text-align: right;
    border-left: 2px solid #ddd;
}


/* .vignette{
    padding-bottom: 10px;
}*/

.btn-action-publier{
    float: left;
    text-align: center;
}

.alert{
    margin-top: 20px;
    text-align: center;
}

.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-right: 20px;
}

.id-project{
    margin-left: -5px;
    padding-top: 30px;
}

.title-nom-project{
    text-align: center;
}

.thumbnail-project{
    max-width:150px;
    float: right;
    position: relative;
z-index: 3;
display: block;
padding: 4px 4px 0;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
border: none;
border-radius: 0;
}

.thumbnail-project-print{

    position: relative;
z-index: 3;
display: block;
padding: 4px 4px 0;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
border: none;
border-radius: 0;
}

.name-img-projets{
/*   position: absolute;
    margin-top: -50px;*/
padding-left: 20px;
padding-top: 10px;
}

.name-img-projets-print{
/*   position: absolute;
    margin-top: -50px;*/
padding-left: 20px;
padding-top: 20px;
padding-bottom: 26px;
}

.icon-publier{
    padding-top: 20px;
    font-size: 25px;
}