.project-content{
    background-color: #F2F1EF;
    padding-bottom: 50px;
}

.project{
    padding-top: 40px;
    
}

.btn-projet{
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
        
}

.add-work{
    padding:20px 0 20px;
    text-align: center;
    margin: auto;
}

.img{
    padding-bottom: 60px;
}

.add-caroussel{
    background-color: #F2F1EF;
    padding:20px 0 20px;
    text-align: center;
    margin: auto;
}

.img-caroussel{
    padding-top: 30px;
}