/*a:hover{
  text-decoration: none;
  color: #130C1C;
}


.thumb-work{
width: 400px;
height: 490px;
margin-top: 100px;
overflow: hidden;
margin-left: 90px;

}

.thumb-img{
  width: 100%;
  height: 100%;
  position: relative;
}


.thumb-effect{
  background: rgba(27, 163, 156, 1);
  height: 0px;
  position: relative;
  opacity: 0;
  transition: 0.3s;
}

.thumb-effect-2{
  height: 0px;
  background: rgba(3, 201, 169, 1);
  position: relative;
  opacity: 0;
  transition: 0.5s;
}

.thumb-work:hover .thumb-effect{
background: rgba(27, 163, 156, 0.8);
margin-top: -320px;
height: 330px;
opacity: 1;
transition: 0.4s;

}
.thumb-work:hover .thumb-effect p{
 
}

.thumb-work:hover .thumb-effect-2{
background: rgba(3, 201, 169, 0.6);
height: 270px;
margin-top: -250px;
opacity:1;
transition: 0.6s;


}



.thumb-title{
  opacity: 1;
  color: black;
  z-index: 2000;
  text-align: center;
}
@media (min-width: 992px){
.col-md-3{
    width: 23%;
}
}

.detail-work{
    padding-top: 50px;
}*/

/*.content-thumb{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.thumb-bg{
    width: 100%;
    height: 100%;
     background-color: #c1c1c1;
     margin-bottom: 10px;
     margin-top: 10px;
}

.content-thumb{
    .col-sm-6, .col-md-3{
        padding-left: 0;
        padding-right: 0;
    }
}

.thumb-image{
    min-height: 450px;
}

.thumb-align{
    margin: auto;
    max-height: 350px;
    padding: 10px;
}

.thumb-txt{
    background-color: #c1c1c1;
    width: 100%;
    height: 100px;
}*/


//test gal 2///////////

/*.gal-position{
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #c4c4c4;
}

.thumb-gal{
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}


.overlay-web{
  background-color: #000;
  color: #fff;
  left: -100%;
  top:0;
  height: 85.2%;
  width: 100%;
  position: absolute;
  text-align: center;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.folio-image-web{
    margin-bottom:-50px;
}

.folio-image-web img {
  width: 100%;
}


 .folio-item-web {
  position: relative;
  padding: 30px;
border-right: 1px solid #c4c4c4;
  overflow: hidden;
}



.folio-info-web{
    margin-top: 50px;
}

.overlay-web .overlay-web-content {
  display: table;
  height: 100%;
  width: 100%;

}

.overlay-web .overlay-text {
  display: table-cell;
  vertical-align: middle;
}




.overlay-web .folio-info-web h3 {
  margin-top: 0;
  color: #fff;
  opacity: 1;
}

.folio-item-web:hover .overlay-web {
  opacity: 0.7;
  top: 0;
  height: 85.2%;
  left: 0;
  
}

.folio-image-web, .folio-overview .folio-expand {
  -webkit-transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
}

 .folio-item-web:hover .folio-image-web {
  opacity: 0.7;
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  
}



.folio-item-web:hover .overlay-web{
  margin-bottom:0;
  margin-top:0;
}


.txt-left{
    text-align: left;
    padding-right: 5;
}

 h4::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    height: 1px;
    background-color: #27282e;
    width: 7px;
}*/



////////////////////////////////
////////////////////////////////

/*.block-web .col-md-6{
    padding-right: 10px;
    padding-left: 0px;
    margin-top: 10px;
    max-height: 667px;
    overflow: hidden;
}

.thumb-web{
    position: relative;
    overflow: hidden;
}

.content-txt-web{
    width: 100%;
    position: absolute;
    background-color: #c4c4c4;
    right: -245px;
    right: -409px; //big format//
    z-index: 2;
    top: 245px;
    top: 260px; //big format//
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    transform: rotate(-90deg);
    bottom: 0;
    height: 80px;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    
}



.change-color-1{
    background-color: red;
}

.change-color-2{
    background-color: blue;
}

.change-color-3{
    background-color: purple;
}

.change-color-4{
    background-color: greenyellow;
}

.change-color-5{
    background-color: palegreen;
}

.change-color-6{
    background-color: orange;
}

.change-color-7{
    background-color: yellow;
}*/

/////////////////////////
//////////////////////////

/*.folio-link-web{
   height: 400px;
   width: 400px;
    position: absolute;
    top: 280px;
    top: 100px; //big format//
    right: -110px;
    right: 350px; //big format//
    bottom: 0;
    
}*/

/////////////////////////
//////////////////////////


/* h4.title-client::before {
    content: '';
    position: absolute;
    top: 22px;
    height: 1px;
    background-color: #27282e;
    width: 17px;
    padding-right: 80px;
    margin-left: -10px;
     -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }
 
  h4.title-description::before {
    content: '';
    position: absolute;
    top: 22px;
    height: 1px;
    background-color: #27282e;
    width: 17px;
    padding-right: 80px;
    margin-left: -10px;
     -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }
 
 
 
 

 
 .title-client, .title-description {
   padding-left: 10px;
   font-weight: 600;
}
.title-client{
     margin-left: 70px;
     text-align: right;     
}



.txt-client, .txt-description{
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.thumb-item-web{
    position: relative;
    max-height: 667px;
}



.thumb-web {
    top: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

 .thumb-item-web:hover .thumb-web {
  opacity: 0.3;
  -webkit-transform: scale(0.80);
  transform: scale(0.80);
  top: -60px;
}

.thumb-item-web:hover .txt-description {
  padding-left: 5px;
}



.thumb-item-web:hover .content-txt-web{
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 2;
    top: 0;
    padding-left: 75px;
    padding-top: 10px; //big format//
    padding-bottom: 20px;
    margin-right: 80px;
    bottom: 0;
    height: 100%;
    opacity: 0.6;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
        h4::before {
        content: '';
        position: absolute;
        top: 11px;
        background-color: #fff;
        padding-right: 80px;
        margin-left: -10px;
     }
}




.thumb-item-web:hover .folio-overview-web{
  margin-right: 0px;
  left: 200px;
   -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.overlay-link-web{
    position: absolute;
    width: 100%;
    top: 280px;
    text-align: center;
    font-size: 35px;   
}


.folio-link-web {
    height: 200px;
    width: 200px;
    position: absolute;
    top: -100px;
    top: 100px; //big format//
    right: 250px;
    right: 350px; //big format//
    transform: rotate(90deg);
    font-size: 75px;
    font-weight: 700;
    text-decoration: none;
     color: #fff; 
}
.folio-read-more-web {
   color: #fff;
   -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.folio-read-more-web:hover {
   color: #000;
   &::before{
         background-color: #000;
   }
}

.folio-link-web a::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 120px;
    height: 1px;
    background-color: #fff;
    width: 193px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.txt-projet-web{
    font-size: 15px;  
      font-size: 17px; //big format//
      margin-right: -90px;
     margin-top: 145px;
}


.thumb-item-web:hover .description-web{
   margin-right: -15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.description-web{
    float: right;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}*/

/////////////////////////
//////////////////////////


/*.rotate-txt{
    position: absolute;
    transform: rotate(-90deg);
    bottom: 0;
}

.client-web{
    margin-right: -250px;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}



.title-client{
    margin-right: 10px;
    float: left;
}

.txt-client{
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-web{
    float: right;
    margin-right: -250px;
    margin-top: 10px;
    margin-left: 20px;
}

.title-description{
    margin-right: -90px;
    float: left;
}

.txt-description{
    padding-top: 10px;
    margin-right: -155px;
    float: right;
}

 h4::before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #27282e;
    width: 17px;
    margin-top: 10px;
    margin-left: -25px;
}*/


/////////////////////////
//////////////////////////



.panel {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.p_inside {
    padding: 100px 20px 140px 20px;
}

.panel-img {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 50%;
    z-index: 2;
    opacity: 0.8;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}


.overdark{
  background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
  color: #fff;
  left: 0;
  right:0;
  bottom:0;
  height: 100%;
  width: 0;
  position: absolute;
  text-align: center;
  opacity:0;
  z-index: 40;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}



.panel:hover .overdark {
  opacity: 0.7;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.panel:hover .panel-img{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.cleared{
    clear: both;
}

.line-projet{
    width: 20%;
    height: 1px;
    background-color: #f94545;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 10px;
     z-index: 39;
    transition: all 0.5s ease-in-out;
    
}

.number-projet{
    position: absolute;
    left: 100%;
    padding-left: 10px;
    margin-top: -15%;
    
    font-size: 22px;
    font-weight: 600;
    z-index: 400;
    transition: all 0.5s ease-in-out;
}

.panel:hover .line-projet{
    background-color: #000;
    transition: all 0.5s ease-in-out;
/*    .number-projet{
        color: #000;
        transition: all 0.5s ease-in-out;
    }*/
}

.infos-web{
    width: 100%;
position: absolute;
/*background-color: #c4c4c4;*/
right: 0;
z-index: 2;
top: 84%;
bottom: 0;
height: 80px;

}

.infos-web-title{
/*    float: left;*/
    transform: rotate(-90deg);
    padding-bottom: 2px;
    font-family: "Inflecto", 'Open Sans', sans-serif;
    
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 205px;
    left: -190px;
    text-align: left;
}

.line-title-web {
    position: absolute;
    border-bottom: 1px solid;
    font-size: 1.6em;
    letter-spacing: 0.04em;
}


.infos-web-desc{
/*    float: left;*/
    padding-top: 20px;
    font-size: 16px;
    width: 220px;
    max-height: 80px;
    overflow: hidden;
    text-align: left;
    margin-left: 55px;
}

 .diamond{
    font-size: 17px;
    top: 40%;
    position: absolute;
/*    margin-left: 60px;*/
    right: 20px;
}

/*.link-web{
    font-size: 30px;
    position: absolute;
    left: 0;
  right:0;
  bottom:0;
  height: 0;
    text-align: center;
    z-index: 404;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}*/

.icon-diamond {
    position: absolute;
    width: 10%;
     z-index: 404;
    left: 45%;
    right:0;
    bottom:0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}


.panel:hover .icon-diamond {
  width: 10%;
  bottom: 55%;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.link-web:hover{
    font-size: 35px;
}

.title-proto{
    background: #130c1c;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}





.cursor-fleche{
    cursor: url(../../images/big-plus-sign.png)4 12, auto;
}


