a:hover{
  text-decoration: none;
}


.project-content{
    padding-bottom: 50px;
}

.thumb-work{
width: 300px;
height: 390px;
margin-top: 100px;
overflow: hidden;
}

.thumb-img{
  width: 100%;
  height: 100%;
  position: relative;
}


.thumb-effect{
  background: rgba(27, 163, 156, 1);
  height: 0px;
  position: relative;
  opacity: 0;
  transition: 0.3s;
}

.thumb-effect-2{
  height: 0px;
  background: rgba(3, 201, 169, 1);
  position: relative;
  opacity: 0;
  transition: 0.5s;
}

.thumb-work:hover .thumb-effect{
background: rgba(27, 163, 156, 0.8);
margin-top: -220px;
height: 230px;
opacity: 1;
transition: 0.4s;

}
.thumb-work:hover .thumb-effect p{
 
}

.thumb-work:hover .thumb-effect-2{
background: rgba(3, 201, 169, 0.6);
height: 170px;
margin-top: -170px;
opacity:1;
transition: 0.6s;


}



.thumb-title{
  opacity: 1;
  color: black;
  z-index: 2000;
  text-align: center;
}

.btn-projet{
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
        
}

.add-work{
    text-align: center;
    margin: auto;
}