{% extends ":site:index.html.twig"%}

{% block title %}Galerie{% endblock %}
{% block loader %}{% endblock %}
{% block section %}
   
<div class="pos-mobile">
    <div class="title-rubrique padd-sm mg-bottom-xl">
        <h2 class="txt-color-gal big-title no-mg">work</h2>
        <p class="txt-color-primary no-mg">Illustrations & Inspirations</p>
    </div>

    <section id="portfolio" data-midnight="color-hamb">
        <div class="project mg-bottom-xl">
            <div class="container-fluid">
                {% for galerie in projectsgal %}
                    <div class="col-sm-4 col-md-4">
                        <div class="folio-item">
                            <div class="folio-image">
                                <img src="{{asset('uploads/img/')~galerie.imageMin}}" class="img-responsive">
                            </div>

                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3 class="line-title">{{galerie.titre}}</h3>
                                        </div>

                                        <div class="folio-overview">
                                            <span class="folio-link"><a class="folio-read-more" href="{{path("detailgalerie",{"id":galerie.id})}}">+</a></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
   
    {% endblock%}


