{% extends ":site:index.html.twig"%}

{% block section %}
    <div class="container">
        <div class="row">
       {% for projet in projects %}
   
      <div class="col-sm-6 col-md-12">
      <img src="{{asset('uploads/img/')~projet.images}}" class="img-responsive">
        <p class="">{{projet.titre}}</p>
     
      <p class="">{{projet.descriptif}}</p>
      <p class="">{{projet.liens}}</p>
    </div>



 
 {% endfor %}
 </div>
</div>
{% endblock%}